.homepage {
  background-color: #e6fac3;
  height: 100vh;
  color: white;
}
.homepage-img{
  width: 50%;
  height: 50%;
}
.homepage-intro{
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #2b2d31;
}
.homepage-p{
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 16px;
  color: #2b2d31;
}