.homepage {
  background-color: #d3e1fd;
  height: 100vh;
  color: white;
}
.homepage-img{
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
.homepage-intro{
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #2b2d31;
}
.homepage-p{
  width: 50%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 16px;
  color: #2b2d31;
}
.goregis{
  text-decoration: underline;
  cursor: pointer;
}
.goregis:hover{
  color: blue;
  font-size: 17px;
  font-style: italic;
}