.homepage {
  background-color: #b2ddfd;
  height: 92.8vh;
  color: #333333;
}
.homepage-img{
  width: 50%;
  height: 50%;
}
.homepage-intro{
  width: 50%;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.homepage-p{
  width: 50%;
  text-align: center;
}