.navbar-main {
  background-color: #08605f;
  color: white;
  height: 14vh;
}

.btn-chat{
  background-color: #70bdad;
  color: black;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 24px;
  border-radius: 8px;
  padding-bottom: 1%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-chat:hover{
  background-color:#08605f;
  color: white;
}

.navbar-links:hover {
  text-decoration: underline;
  cursor: pointer;
  
}
.filler{
  height: 14vh;
}
