.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  background-color: rgb(36, 42, 221);
  color: black;
  padding: 2rem;
  z-index: 3;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}