.title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  background-color: rgb(36, 42, 221);
  color: black;
  padding: 2rem;
  z-index: 3;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Loading Spinner */
.loader {
  margin-top: 10px;
  justify-content: center;
  border: 10px solid #c2c2c2;
  border-top: 10px solid #2772a4;
  border-radius: 50%;
  min-height: 80px;
  min-width: 80px;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* End Loading Spinner */