.col {
    display: inline-block;
    justify-content: center;
    align-content: center;
}

@media print {
    #beginner{
        zoom: 90%;
    }

    #intermediate {
        zoom: 80%;
    }

    #advanced {
        zoom: 115%;
    }

    #hide {
        display:none !important;
    }

    #chart {
        zoom: 100%;
        margin-bottom: 0;
    }
    #chart3 {
        margin-top: 550px;
        margin-bottom: 0;
        zoom: 100%;
    }
    #printBtn {
        visibility: hidden;
    }

    
}