.finance{
    background-color: #ebf2fa;
    min-height: 86vh;
}

.question{
    text-align: center;
    margin-top: 3%;
    color: #0b132b;
}

.link-click:hover{
    cursor: pointer;
}
.financeTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0b132b;
}

.financeTitleLg{
    margin-top: 4vh;
    font-size: 100px;
}

.financeImg{
    position: center;
    margin-top: 3%;
}

.financeBlurb{
    color: #0b132b;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: start;
    font-size: 16px;
    height: 100vh;
}

.finance-aside{
    width: 40%;
    padding-left: 15px;
    margin-left: 15px;
    border-radius: 5%;
    color: white;
    float: right;

    background-color: #073b4c
}

.finance-aside:hover{
    background-color: gray;
    opacity: 1.0;
    transition: 5ms;
}

.finq:hover{
    cursor: pointer;
    color: gold;
    font-style: italic;
}

.fincal:hover{
    cursor: pointer;
    color: gold;
    font-style: italic;
}