.col {
    display: inline-block;
    justify-content: center;
    align-content: center;
}

@media print {
    #beginner{
        zoom: 90%;
    }

    #intermediate {
        zoom: 80%;
    }

    #advanced {
        zoom: 115%;
    }

    #hide {
        display:none;
    }

    #chart {
        zoom: 115%;
    }

    #printBtn {
        visibility: hidden;
    }

    
}