.fitness {
    background-color: #073b4c;
    height: 265vh;
}

.fitnessTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffd116;
}

.fitnessTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.fitnessImg{
    position: center;
    margin-top: 20%;
}

.fitnessBlurb{
    color: #ffd116;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: start;
    font-style: italic;
    font-size: 20px;
}

.fitnessAlert{
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ef476f;
}

.link:hover{
    cursor: pointer;
}