.mental {
    background: #fcdfa6;
}

.questions{
    text-align: center;
    margin-top: 3%;
    color: #8a7066;
}

.link-click:hover{
    cursor: pointer;
}
.mentalTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8a7066;
}

.mentalTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.mentalImg{
    position: center;
    margin-top: 20%;
}

.mentalBlurb{
    color: #8a7066;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: start;
    font-style: italic;
    font-size: 20px;
    height: 100vh;
}