.mentorship {
    background: #dad7cd;
    height: 240vh;
}

.mentorTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #344e41;
}

.mentorTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.mentorImg{
    position: center;
    margin-top: 15%;
}

.mentorBlurb{
    color: #344e41;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: start;
    font-size: 16px;
    height: 100vh;
}

.mentee{
    width: 45%;
    padding-left: 15px;
    margin-left: 15px;
    border-radius: 8px;
    color: #344e41;
    float: left;
    background-color: #8f9779
}

.grow{
    font-weight: bold;
}

.mentor{
    width: 45%;
    padding-left: 15px;
    margin-left: 15px;
    border-radius: 8px;
    color: white;
    float: right;
    background-color: #9b870c
}

.lead{
    font-weight: bold;
    font-size: 34px;
}
.linky:hover{
    cursor: pointer;
}