.mental {
    background: #fcdfa6c5;
    min-height: 86vh;
}

.questions{
    text-align: center;
    margin-top: 3%;
    color: #52443f;
}

.link-click:hover{
    cursor: pointer;
}
.mentalTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #52443f;
}

.mentalTitleLg{
    margin-top: 4vh;
    top: 20%;
    font-size: 100px;
}

.mentalImg{
    position: center;
    margin-top: 3%;
}

.mentalBlurb{
    color: #52443f;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: start;
    font-size: 16px;
    height: 100vh;
}