@media print {
  .navbar * {
      visibility: hidden;
  }

  #printBtn {
      visibility: hidden !important;
  }
  #chatBtn {
    visibility: hidden !important;
  }
  .mental * {
      visibility: visible; 
  }
}