.mentorship {
    background: #dad7cd;
    min-height: 86vh;
}

.mentorTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #023047;
}

.mentorTitleLg{
    margin-top: 4vh;
    font-size: 100px;
}

.mentorImg{
    position: center;
    margin-top: 3%;
}

.mentorBlurb{
    color: #023047;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 10%;
    text-align: start;
    font-size: 18px;
    font-style: italic;
    min-height: 51vh;
}

.mentee{
    width: 45%;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    border-radius: 8px;
    color: whitesmoke;
    float: left;
    background-color: #4e8098
}

.grow{
    font-weight: bold;
}

.mentor{
    width: 45%;
    padding-left: 15px;
    margin-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    border-radius: 8px;
    color: white;
    float: right;
    background-color: #0e73a1
}

.lead{
    font-weight: bold;
    font-size: 34px;
}
.linky:hover{
    cursor: pointer;
}