@media print {
  .navbar * {
      visibility: hidden;
      -webkit-print-color-adjust: exact !important;
  }

  #printBtn {
      visibility: hidden !important;
  }
  #chatBtn {
    visibility: hidden !important;
  }
  .mental * {
      display: none !important;
      visibility: hidden !important; 
      text-align: left;
      -webkit-print-color-adjust: exact !important;
  }
  .results {
    display: grid !important;
    justify-content: left !important;
    align-items: left !important;
  }

}
