.mentorship {
    background: #dad7cd;
    height: 240vh;
}

.mentorTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #344e41;
}

.mentorTitleLg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.mentorImg{
    position: center;
    margin-top: 20%;
}

.mentorBlurb{
    color: #344e41;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: start;
    font-size: 16px;
    height: 100vh;
}

.linky:hover{
    cursor: pointer;
}